<input id="toggle" type="checkbox" checked="false">
<nav>
    <div id="toc">
        <h1>Elementary Galilean Aramaic</h1>
        <h4><gal>$Er N:m hayyalIlag hana$Il</gal></h4>

        <div id="parts">

            <ul>
                <li><a href="/">What is This?</a></li>
                <li><a href="/introduction">Introduction</a></li>
                <li><a href="/dedication">Dedication</a></li>
            </ul>

            <h2>Chapters:</h2>

            <ol>   
                <li><a href="/chapter/alphabet">The Alphabet</a></li>
                <li><a href="/chapter/vocalization">Vocalization</a></li>
                <li><a href="/chapter/pronouns">Pronouns</a></li>
                <li><a href="/chapter/nouns-and-adjectives">Nouns and Adjectives</a></li>
                <li><a href="/chapter/possession">Possession</a></li>
                <li><a href="/chapter/particles">Particles</a></li>
                <li><a href="/chapter/verbs">The Verb</a></li>
                <li><a href="/chapter/numbers">Numbers</a></li>
            </ol>

            <h2>Appendices:</h2>

            <ul>
                <li><a href="/chapter/translational-galilean">Translational Galilean</a></li>
                <li><a href="/chapter/songs">Songs</a></li>
                <li><a href="/chapter/source-text">Source Texts</a></li>
                <li><a href="/bibliography">Bibliography</a></li>
            </ul>

        </div>

    </div>
</nav>
<label id="hamburger" for="toggle"></label>

<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
  kofiWidgetOverlay.draw('stevecaruso', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Support Us',
    'floating-chat.donateButton.background-color': '#00b9fe',
    'floating-chat.donateButton.text-color': '#fff'
  });
</script>